  <body data-ng-app='app' ng-controller="ApplicationController">

    <div class="navbar navbar-default navbar-static-top">
      <div class="max-width-940 container-fluid">
        <div class="row-fluid">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <ul ng-if="manageJog" class="nav navbar-nav navbar-left">
            <li><a ui-sref="usersManage">Manage Users</a></li>
          </ul>
          <ul ng-if="currentUser.user_type == 'regular' " class="nav navbar-nav navbar-left">
            <li><a ui-sref="jogs">Jogs</a></li>
          </ul>
          <ul ng-if="currentUser.user_type == 'regular' || ( currentUser.user_type == 'administrator' && manageJog )" class="nav navbar-nav navbar-left">
            <li><a ui-sref="report">Report</a></li>
          </ul>

          <div ng-if="currentUser" class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <p class="navbar-text">{{ currentUser.email }}</p>
              </li>
              <li>
                <p class="navbar-text">{{ currentUser.user_type }}</p>
              </li>
              <li>
                <a style="cursor: pointer;" ng-controller='LoginController as lc' ng-click="lc.logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="max-width-940 container-fluid">
      <div class="row-fluid">

        <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</alert>

        <div ui-view></div>

      </div>

      <footer></footer>
    </div>
  </body>
